body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
    padding-top: 5rem;
}

video{
    max-width: 100%;
    width: 100%;
    line-height: 1;
    border: none;
    object-fit: cover;
    
}
